body {
    background: #222126;
    color: #f8f8f8;
    font: 400 16px "Varela Round", sans-serif;
    padding: 20px;
    padding-top: 0px;
}

.riskHeaderBag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.riskHeaderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.riskHeaderIcon {
    font-size: 25px;
    margin-right: 1rem;
}

.riskHeader {
    color: #f8f8f8;
}

.riskCount {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #38373c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-left: 0.8rem;
}


.pdfBtn {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #6c59c9;
    color: #f8f8f8;
    font-size: 16px;
    border-radius: 5px;
    margin: 0px auto;
    cursor: pointer;
    align-self: center;
    margin-left: 10px;
}

.dataCardsWrap {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.dataCardWrap {
    background: linear-gradient(rgb(51, 50, 55), rgb(33, 32, 37));
    height: 200px;
    width: 350px;
    border-radius: 5px;
}

.dataCard {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardInfo {
    font-size: 5rem;
    margin: 1rem;
    margin-bottom: 0;
}

.percentText {
    font-size: 2.5rem;
}

.cardLabel {
    font-size: 18px;
    color: rgb(182, 182, 182);
}

.cardImage {
    height: 160px;
    object-fit: cover;
}

#riskDoughnut {
    height: 160px !important;
    margin-left: 1rem;
}

#riskBar {
    height: 170px !important;
    margin-left: 0rem;
}

#riskLine {
    height: 170px;
}

#riskRadar {
    width: fit-content;
    margin-left: 0rem;
}

.chartWrap {
    display: flex;
    gap: 1rem;
    flex: 2 1;
}

.chartBag {
    background: linear-gradient(rgb(51, 50, 55), rgb(33, 32, 37));
    height: 31rem;
    border-radius: 6px;
    width: 100%;
    flex: 1 1 0;
    padding: 1rem;
}

.inputBag {
    background: linear-gradient(rgb(51, 50, 55), rgb(33, 32, 37));
    height: 31rem;
    border-radius: 6px;
    width: 100%;
    flex: 1 1 0;
    padding: 1rem;
}

.no_result {
    width: 500px;
    border-radius: 7px;
    opacity: 0.7;
    margin-top: 20px;
}

/* UPLOAD CONTAINER STYLES */
.upload-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
}
::selection{
    color: rgb(68, 68, 68);
    background: #f3f2f7;
}
.wrapper{
    width: 100%;
    background: transparent;
    border-radius: 5px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
    color: #6c59c9;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form{
    height: 167px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6c59c9;
}
.wrapper form :where(i, p){
    color: #6c59c9;
}
.wrapper form i{
    font-size: 50px;
}
.wrapper form p{
    margin-top: 15px;
    font-size: 16px;
}
section .row{
    background: #222126;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    color: #6c59c9;
    font-size: 30px;
}
section .details span{
    font-size: 14px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}
.progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: #fff;
    border-radius: 30px;
}
.content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 70px;
    overflow-y: auto;
    background: #222126;
    border-radius: 5px;
}
.uploaded-area.onprogress{
    max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .row .details .name{
    color: #f3f3f3;
    font-size: 15px;
}
.uploaded-area .row .details .size{
    color: #d4d4d4;
    font-size: 11px;
}
.uploaded-area i.fa-check{
    font-size: 16px;
}
  
.loader-wrap {
    display: none;
    align-items: center;
    justify-content: center;
}
  
.loader-wrap img {
    height: 50px;
}
  
.loader-wrap span {
    color: grey;
}

.loader {
    display: none;
}

/* TABLE CSS */
.fl-table {
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: transparent;
    border-collapse: collapse;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    font-size: 12px;
}

.highRisk {
    padding: 8px 12px;
    background-color: #ffd3d3;
    color: #DC2626;
    font-size: 11px;
    border-radius: 12px;
    padding: 3px 8px;
}

.mediumRisk {
    padding: 8px 12px;
    background-color: #fff5cb;
    color: #f58506;
    font-size: 11px;
    border-radius: 12px;
    padding: 3px 8px;
}

.lowRisk {
    padding: 8px 12px;
    background-color: #ffffc3;
    color: #f1ee0c;
    font-size: 11px;
    border-radius: 12px;
    padding: 3px 8px;
}

.fl-table thead th {
    color: #ffffff;
    background: #363057;
}

.fl-table tr:nth-child(even) {
    background: #222126;
}

.fl-table thead {
    /* display: block; */
}

.fl-table tbody {
    max-height: 100px;
    overflow-y: auto;
    /* display: block; */
}

.tbodyWrap {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}   

.justificationWrap {
    margin-top: 10px;
    border-left: 5px solid#7628aa;
    background: #863ab941;
    padding: 1rem;
}

.justificationWrap h4 {
    margin: 0;
    margin-bottom: 5px;
}

.justificationWrap article {
    font-size: 14px;
    line-height: 1.2rem;
    color: #ebcdff;
}

.refWrap {
    margin-top: 8px;
}

.refLink {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 14px;
    border-radius: 15px;
    background: #7628aa;
}